*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    letter-spacing: 1px;
}
.App{
    text-align: center;
}
h1{
    color: blue;
}

.cocktail-data{
   display: grid;
   grid-template-columns: 1fr;
   gap: 1rem;
}
.cocktail-data li{
    list-style-type: none;
}
.cocktail-data li img{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}
@media screen and (min-width: 769px) {
    .cocktail-data {
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
nav.primary-nav{
    padding: 20px;
    background-color: lightblue;
}
nav a{
    margin-right: 15px;
}
nav a.active{
    font-weight: bold;
    text-decoration: none;
    color: rgb(234, 67, 21);
}
.card-container{
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width:992px) {
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}
.card{
    background-color: lightblue;
    padding: 10px;
}